// img linear (bottom)
.transper {
  // mask-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1));
  mask-image: linear-gradient(to bottom, transparent, black);
  width: 100%;
  height: 200px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: black;
  z-index: -1;
}

// 슬라이드 이미지 사이즈
.slide-intro,
.performance-inner {
  swiper-slide {
    height: 100vh;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

// main //
.main-sec .swiper-pagination {
  display: none;
}

// performance section //

.performance-sec {
  display: block;
  // margin: 130px 0;
  padding: 0 0 0 80px;
  .swiper {
    width: 100%;
    height: 686px;
  }
  .swiper-container {
    display: flex;
    width: 10%;
  }
}

.performance-inner {
  &.swiper-slide {
    height: auto;
    width: 367px;
    text-align: left;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .thumb {
      width: 100%;
      height: 482px;
      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .txt-wrap {
      width: 100%;
      padding: 20px 0;
      .strong {
        padding-bottom: 4px;
      }
    }

    .content-wrap {
      display: flex;
      justify-content: space-between;
      padding: 15px 0;
      border-top: 1px solid white;
    }

    button {
      background: #d92b2b;
      width: 160px;
      height: 37px;
    }
  }
}

// introduce section //

.intro-sec {
  .img-wrap {
    // position: relative;
    width: 87%;
    &.right {
      margin-left: auto;
    }
  }
  .img::before {
    content: "";
    background: linear-gradient(to top, black, transparent);
    position: absolute;
    height: 30%;
    width: 100%;
    bottom: 0;
  }
  .txt-wrap {
    position: absolute;
    padding: 0 80px;
    margin-top: -119px;
    width: 100%;
    h2 {
      position: relative;
      right: 0;
      font-size: 96px;
      font-weight: bold;
      line-height: 62%;
      color: $txtSub2;
      &:nth-child(2) {
        text-align: right;
        color: $secondary;
        opacity: 80%;
      }
    }
    p {
      width: 753px;
      margin: 24px 0 0 5px;
      &:nth-child(1) {
        font-size: 50px;
      }
    }
  }

  // img
  .knb-1 {
    background-image: url(/images/main/knb_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 666px;
    z-index: -2;
  }
  .knb-2 {
    background-image: url(/images/main/knb_2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 666px;
    z-index: -2;
  }
  .knba-1 {
    background-image: url(/images/main/knba_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 666px;
    z-index: -2;
  }
  .knba-2 {
    background-image: url(/images/main/knba_2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 666px;
    z-index: -2;
  }
}

.intro-end {
  margin-bottom: 197px;
}

// youtube section //

.ytb-bg {
  background-image: url(/images/main/ytb_bg.jpg);
  width: 100%;
  height: 77%;
  display: flex;
  align-items: center;
  flex-direction: column;
  .txt-wrap {
    width: 850px;
    padding-top: 166px;
    display: flex;
    flex-direction: column;
    h2 {
      border-bottom: 1px solid white;
      margin-right: -300px;
      padding: 25px 0;
    }
    .sub-tit {
      padding: 15px 0 5px 0;
    }
    p {
      font-weight: 200 !important;
    }
  }
  .ytb {
    width: 850px;
    height: auto;
    padding-top: 30px;
  }
}

// notice section //
.notice-sec {
  padding-top: 149px;
  .inner {
    display: flex;
    justify-content: space-between;
    .txt-wrap {
      display: flex;
      flex-direction: column;
      em {
        padding: 0px 0 24px 0;
      }
    }
  }
}

.notice-wrap {
  width: 738px;
  // overflow: hidden;
  li {
    height: 90px;
    display: flex;
    align-items: center;
  }
  .list-top {
    border-top: 3px solid rgb(255, 255, 255);
    border-bottom: 1px solid rgb(255, 255, 255, 0.5);
  }

  .list {
    border-bottom: 1px solid rgb(255, 255, 255, 0.5);
  }

  a {
    display: flex;
    flex-direction: column;
    padding: 10px 5px;
  }

  .noti-tit {
    display: flex;
    align-items: center;
    font-size: 18px;
  }

  .noti-icon {
    background: url(/images/main/icon/icon_dbarrow_wt.svg) no-repeat center
      center;
    width: 0;
    height: 0;
    background-size: contain;
    display: inline-block;
    transition: all 0.3s ease-out;
  }

  .noti-date {
    color: $gray-700;
  }

  li:hover .noti-icon {
    width: 18px;
    height: 18px;
    margin-right: 8px;
  }
}



// partner section //

.ptn-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 {
    padding: 50px;
  }
}

.ptn-lg-wrap {
  display: flex;
  height: 100px;
  width: 100%;
  align-items: center;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  overflow: hidden;
  position: relative;
  .ptn-lg-inner {
    display: block;
    width: 200%;
    height: 35px;
    position: absolute;
    overflow: hidden;
    animation: marquee 10s linear infinite;
  }

  .ptn-lg {
    float: left;
    width: 50%;
    a {
      padding: 0 80px;
      width: 300px;
      img {
        width: 140px;
        height: 35px;
        object-fit: contain;
        filter: grayscale(100%);
      }
    }
    a:hover img {
      filter: none;
    }
  }

  @keyframes marquee {
    0% {
      left: 0;
    }
    100% {
      left: -100%;
    }
  }

  .ptn-lg-inner:hover {
    animation-play-state: paused;
  }
}



