// body {
//   overflow-x: hidden;
// }

.mainsection {
  height: 100vh;
  background: black;
}

// 이미지 하단 gradient
.btmgrd ::before {
  content: "";
  background: linear-gradient(to top, black, transparent);
  position: absolute;
  bottom: 0;
  height: 13%;
  width: 100%;
}

.topgrd {
  background: linear-gradient(to top, black, transparent);
  position: absolute;
}

// -----------------------main-section-----------------------

.main-swiper {
  img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: 50% 100%;
  }

  @media screen and (max-width: 768px) {
    position: relative;
    z-index: 0;
    img {
      height: 100vh;
    }
    &.btmgrd ::before {
      height: 20%;
    }
  }
}

.button {
  // color: white;
  display: none;
}

// -----------------------performance-section-----------------------

.performance-sec {
  display: block;
  margin: 100px 0;
  padding: 0 0 0 80px;

  h2 {
    padding-bottom: 80px;
  }

  .swiper-performance {
    // height: 100%;
    position: relative;
    // padding-bottom: 100px;
  }

  .performance-inner {
    width: 360px;
    // height: 800px;
    position: relative;
    text-align: left;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    opacity: 85%;
    transition: all 0.5s;
    .thumb {
      // width: 367px;
      height: 400px;
      position: relative;
      img {
        position: relative;
        // display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
        filter: saturate(60%) opacity(95%);
      }
    }
    &:hover {
      opacity: 100%;
      img {
        filter: saturate(110%) opacity(100%) brightness(110%);
      }
    }
    .txt-wrap {
      width: 100%;
      padding: 21px 0;
      strong {
        display: block;
        width: 100%;
        position: relative;
        padding-bottom: 4px;
        font-size: 30px;
        font-weight: 700;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }
    .content-wrap {
      display: flex;
      justify-content: space-between;
      padding: 15px 0;
      border-top: 1px solid white;
      word-break: keep-all;
      p {
        font-size: 16px;
      }
      :nth-child(2) {
        text-align: right;
      }
    }
    button {
      background: #d92b2b;
      width: 160px;
      height: 37px;
      border-radius: 10px;
      color: white;
    }
  }

  @media screen and (max-width: 768px) {
    margin-top: -20%;
    padding: 0 0 0 16px;

    h2 {
      padding-bottom: 5px !important;
    }

    .performance-inner {
      .thumb {
        height: 70%px;
      }
    }
  }
}

// -----------------------introduce-section-----------------------
.intro-sec {
  position: relative;
  overflow: hidden;
  .img-wrap {
    background: black;
    .intro-image {
      position: relative;
      // height: 90%;
      z-index: 1;
      filter: saturate(50%);
      transition: all 0.3s;
    }
    .intro-image:hover {
      filter: saturate(120%) opacity(100%);
      transform: scale(1.025);
    }

    .right {
      margin: 0 0 0 20%;
    }
  }

  .grdient {
    display: flex;
    background: linear-gradient(transparent, black 18%);
    margin-top: -110px;
    position: relative;
    z-index: 2;
  }

  .txt-wrap {
    padding: 0 80px;
    width: 100%;
    display: flex;
    flex-direction: column;

    &::after {
      content: "";
      background-color: black;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 100vh;
      z-index: -1;
    }

    h2 {
      position: relative;
      font-size: 115px;
      font-weight: bold;
      line-height: 62%;
    }
    @media screen and (max-width: 1280px) {
      h2 {
        font-size: 7vw;
      }
    }
    @media screen and (max-width: 768px) {
      .instruction {
        text-align: right;
        padding: 20px 20px;
      }
      h2 {
        font-size: 10vw;
      }
    }

    .txt-wt {
      color: $txtSub2;
    }
    .txt-red {
      text-align: right;
      color: $secondary;
      opacity: 80%;
    }
  }

  p {
    width: 60%;
    font-size: 28px;
    margin-top: 52px;
    &:nth-last-of-type(1) {
      font-size: 14px;
      margin: 24px 0 10px 0;
    }
  }

  @media screen and (max-width: 1280px) {
    .txt-wrap {
      padding: 0 128px;
    }
    p {
      width: 100%;
    }
  }
  a {
    margin-top: 20px;
  }

  @media screen and (max-width: 768px) {
    .txt-wrap {
      padding: 0 16px;
    }
    p {
      display: inline;
      font-size: 18px;
      // white-space: nowrap;
      &:nth-last-of-type(1) {
        display: none;
      }
    }
  }

  .arr-icon {
    vertical-align: text-bottom;
  }

  @media screen and (max-width: 768px) {
    .arr-icon {
      width: 27px;
    }

    .arr-icon path {
      fill: none;
      stroke: white;
      stroke-linecap: round;
      stroke-linejoin: round;
    }
  }
}

.intro-end {
  height: 140vh;
}
@media screen and (max-width: 1280px) {
  .intro-end {
    height: 100vh;
  }
}

// img
.intro-image {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 600px;
  margin: 0 20% 0 0;
  z-index: -2;
  background-position: center;
}

.knb-1 {
  background-image: url(../../images/main/knb_1.jpg);
}

.knb-2 {
  background-image: url(../../images/main/knb_2-2.jpg);
  background-position: 100% 43%;
  background-size: cover;
}

.knba-1 {
  background-image: url(../../images/main/knba_1.jpg);
}

.knba-2 {
  background-image: url(../../images/main/knba_2.jpg);
}

// -----------------------youtube-section-----------------------
.ytb-sec {
  position: relative;
}

.ytb-bg {
  background-image: url(../../images/main/ytb_bg.jpg);
  width: 100%;
  height: 77%;
  display: flex;
  align-items: center;
  flex-direction: column;
  @media screen and (max-width: 1280px) {
    height: 70%;
  }
  @media screen and (max-width: 768px) {
    height: 50%;
  }

  .txt-wrap {
    width: 850px;
    padding: 130px 0 30px;
    display: flex;
    flex-direction: column;
    .tit {
      border-bottom: 1px solid white;
      margin-right: -50vw !important;
      padding: 25px 0;
    }
    .sub-tit {
      padding: 15px 0 5px 0;
    }
    .content {
      opacity: 100%;
    }
    @media screen and (max-width: 1280px) {
      padding: 100px 0 30px;
    }
    @media screen and (max-width: 768px) {
      .sub-tit {
        display: none;
      }
      .content {
        padding-top: 10px;
      }
    }
  }

  .video-wrap {
    width: 850px;
    .video-inner {
      width: 100%;
      height: 0;
      position: relative;
      padding-bottom: 56.25%;
      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
  @media screen and (max-width: 1280px) {
    .txt-wrap {
      width: calc(100% - 130px);
    }
    .video-wrap {
      width: calc(100% - 130px);
    }
    iframe {
      width: 100%;
      height: 100%;
    }
  }

  @media screen and (max-width: 768px) {
    .txt-wrap {
      width: calc(100% - 16px);
    }
    .video-wrap {
      width: calc(100% - 16px);
    }
    iframe {
      width: 100%;
      height: 100%;
    }
  }
}

// -----------------------notice-section-----------------------
.notice-sec {
  padding-top: 90px;
  .inner {
    display: flex;
    justify-content: space-between;
    gap: 103px;
    .txt-inner {
      display: flex;
      align-items: baseline;
      gap: 10px;
    }
    .arr-icon {
      width: 47px;
      vertical-align: text-bottom;
    }

    @media screen and (max-width: 1280px) {
      flex-direction: column;
      justify-content: center;
      gap: 40px;
    }
    .txt-wrap {
      display: flex;
      flex-direction: column;
      width: 30%;
      em {
        padding: 5px 0 24px 0;
        white-space: nowrap;
      }
      .arr-icon {
        width: 30px;
        vertical-align: text-bottom;
      }
    }
  }
  .content {
    opacity: 80%;
  }

  @media screen and (max-width: 768px) {
    .inner {
      .txt-wrap {
        .arr-icon {
          width: 20px;
        }
      }
    }
  }
}

.notice-wrap {
  width: 100%;
  @media screen and (max-width: 768px) {
    padding-left: 0px;
  }
  li {
    height: 90px;
    display: flex;
    align-items: center;
    overflow: hidden;
    a {
      display: flex;
      flex-direction: column;
      padding: 10px 5px;
      width: 100%;
    }
    :hover .noti-icon {
      width: 18px;
      height: 18px;
      margin-right: 8px;
    }
  }
  .list-top {
    border-top: 3px solid rgb(255, 255, 255);
    border-bottom: 1px solid rgb(255, 255, 255, 0.5);
  }
  .list {
    border-bottom: 1px solid rgb(255, 255, 255, 0.5);
  }

  .noti-box {
    display: flex;
    align-items: center;
    font-size: 18px;
    flex: 1;
  }
  .noti-icon {
    background: url(../../images/main/icon/icon_dbarrow_wt.svg) no-repeat center
      center;
    width: 0;
    height: 0;
    background-size: contain;
    display: inline-block;
    transition: all 0.3s ease-out;
  }
  .noti-tit {
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .noti-date {
    color: $gray-700;
  }
}

// -----------------------partner-section-----------------------

.ptn-sec {
  height: 60vh;
  @media screen and (max-width: 768px) {
    padding: 25% 0 0 0;
  }
}

.ptn-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    padding: 50px;
  }
}

.ptn-auto-scroll-wrap {
  display: flex;
  height: 100px;
  width: 100%;
  align-items: center;
  margin-top: 70px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;

  .splide {
    max-width: 100%;
    margin: 0 auto;
    position: relative;
  }

  .splide__track {
    overflow: visible;
  }

  .splide__slide {
    flex-grow: 1;
    display: flex;
    align-items: center;
    a:hover img {
      filter: none;
      filter: brightness(120%);
    }
    .ptn-img {
      width: 150px;
      height: 100px;
      position: relative;
      object-fit: contain;
      filter: grayscale(100%) opacity(90%);
    }
    .sm {
      height: 30px;
    }
    .md {
      height: 50px;
    }
  }

  .splide__arrows,
  .splide__pagination {
    display: none;
  }
}