// img linear (bottom)
.transper {
  // mask-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1));
  mask-image: linear-gradient(to bottom, transparent, black);
  width: 100%;
  height: 200px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: black;
  z-index: -1;
}

// 슬라이드 이미지 사이즈
.slide-intro,
.performance-inner {
  swiper-slide {
    height: 100vh;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}






// main //
.main-sec .swiper-pagination {
  display: none;
}




// performance section //

.performance-sec {
  display: block;
  // margin: 130px 0;
  padding: 0 0 0 80px;
  .swiper {
    width: 100%;
    height: 686px;
  }
  .swiper-container {
    display: flex;
    width: 10%;
  }

}



.performance-inner {
  &.swiper-slide {
    height: auto;
    width: 367px;
    text-align: left;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .thumb {
      width: 100%;
      height: 482px;
      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .txt-wrap {
      width: 100%;
      padding: 20px 0;
      .strong {
        padding-bottom: 4px;
      }
    }

    .content-wrap {
      display: flex;
      justify-content: space-between;
      padding: 15px 0;
      border-top: 1px solid white;
    }

    button {
      background: #D92B2B;
      width: 160px;
      height: 37px;
    }
  }
}



// introduce section //

.intro-sec {
  .img-wrap {
    position: relative;
    width: 95%;
    &.right {
      margin-left: auto;
    }
  }
  .knb-1 {
    background-image: url(/images/main/knb_1.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    height: 666px;
    z-index: -2;
  }
  
  .txt-wrap {
    position: absolute;
    padding: 0 0 0 6%;
    margin-top: -119px;
    width: 90%;
    h2 {
      position: relative;
      right: 0;
      font-size: 96px;
      line-height: 62%;
      opacity: 50%;
    }
    .tit-word {
      text-align: right;
      color: $secondary
    }
    p {
      width: 753px;
      margin: 24px 0 0 5px;
    }
  }
  
}



// youtube section //

.ytb-bg {
  background-image: url(/images/main/ytb_bg.jpg);
  width: 100%;
  height: 85%;
  display: flex;
  align-items: center;
  flex-direction: column;
  .txt-wrap {
    width: 1142px;
    padding-top: 166px;
    display: flex;
    flex-direction: column;
    .sub-tit {
      border-top: 1px solid white;
      padding-top: 15px;
    }
  }
  .ytb {
    width: 850px;
    height: auto;
    padding-top: 30px;
  }
}



// notice section //

.notice-sec .inner {
  display: flex;
  justify-content: space-between;
  a {
    display: flex;
    flex-direction: column;
    padding: 10px 5px;
  }

  .mover::before {
    content: '';
    background: url(/images/main/icon/icon_dbarrow_wt.svg) no-repeat center center;;
    width: 16px;
    height: 16px;
    background-size: contain;
    display: inline-block;
    margin-right: 8px;
  }
}

.list-top {
  border-top: 3px solid white;
}

.list {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}


// partner section //

.inner-fp-ptn {
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 {
    padding: 50px;
  }

  .logo-wrap {
    display: flex;
    height: 100px;
    width: 100%;
    align-items: center;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    a {
      padding: 0 10px;
      img{
      height: 30px;
      }
    }
  }
}