// sec-visual---------------------------------------------------
.main-visual-sub1 {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 40%, rgba(0,0,0,1) 100%), url(/images/sub1/main-visual/background.jpg);
    background-size: cover;

    .txt-wrap {
        @include posXY;
        text-align: center;
    }

    .content {
        margin-top: 13px;
        font-size: 20px !important;
    }
}

// sec-about---------------------------------------------------
.sec-about {
    .inner {
        display: flex;
        justify-content: space-between;
        gap: 230px;
    }

    .txt-profile {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .txt-wrap {
            .sub-tit {
                color: $txtSub2 !important;
            }
            .tit {
                margin-top: 50px;
            }
            .contents {
                margin-top: 50px;
            }
            .content {
                margin-top: 30px;
            }
        }

        .profile-wrap {
            display: flex;
            flex-direction: column;
            gap: 10px;

            .name-wrap {
                display: flex;
                align-items: flex-end;
                gap: 15px;
                color: $txtSub1;
            }
            .sub-tit {
                font-size: 36px !important;
            }
            .position {
                color: $secondary;
            }
        }
    }

    .pofile-img-wrap {
        position: relative;

        .profile-img {
            height: 100%;
        }
        .sign-img {
            position: absolute;
            top: 70%;
            left: -45%;
        }
    }
}