// sec-visual---------------------------------------------------
.main-visual-sub1 {
    height: 80vh;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 1) 100%), url(/images/sub1/main-visual/background.jpg);
    background-size: cover;

    .inner {
        position: relative;
    }

    .txt-wrap {
        @include posXY;
        text-align: center;
    }

    .content {
        margin-top: 13px;
        font-size: 20px !important;
    }
}

// sec-about---------------------------------------------------
.sec-about {
    .inner {
        display: flex;
        justify-content: space-between;
        gap: 230px;
    }

    .txt-profile {
        .txt-wrap {
            .sub-tit {
                color: $txtSub2 !important;
            }
            .tit {
                margin-top: 50px;
            }
            .contents {
                margin-top: 50px;
            }
            .content {
                margin-top: 30px;

                &:nth-child(1) {
                    margin: 0;
                }
            }
        }

        .profile-wrap {
            display: flex;
            flex-direction: column;
            margin-top: 85px;
            gap: 15px;

            .name-wrap {
                display: flex;
                align-items: flex-end;
                gap: 15px;
                color: $txtSub1;
            }
            .sub-tit {
                font-size: 36px !important;
            }
            .position {
                color: $secondary;
            }
        }
    }

    .pofile-img-wrap {
        position: relative;

        .profile-img {
            height: 100%;
        }
        .sign-img {
            position: absolute;
            top: 75%;
            left: -35%;
        }
    }
}

// sec-work-----------------------------------------------------
.sec-work {
    position: relative;

    .inner {
        max-width: none !important;
    }

    .txt-goto {
        @include posXY;
        z-index: 1;

        .txt-wrap {
            text-align: center;

            .content {
                margin-top: 20px;
            }
        }

        .goto {
            text-align: center;
            margin-top: 45px;

            .goto-a {
                border-radius: 50px;
                padding: 8px 25px;
                font-size: 18px;
                background: $secondary;
                transition: all 0.2s;

                &:hover {
                    font-weight: 700;
                    color: $secondary;
                    background: $primaryWhite;
                }
            }
        }
    }

    .posters {
        display: flex;
        justify-content: space-between;
        mask: linear-gradient(to top, transparent 1%, black 20%);

        .poster-list {
            display: flex;
            flex-direction: column;
            width: 500px;

            img {
                filter: brightness(0.5);
                width: 100%;
            }
        }
    }
}

// sec-velue---------------------------------------------------
.sec-velue {
    .txt-wrap {
        .content {
            margin-top: 20px;
        }
    }

    .cards {
        margin-top: 90px;
        display: flex;
        justify-content: space-between;

        .card-list {
            gap: 35px;
            @include flexCenter;
            flex-direction: column;
            border-radius: 10px;
            width: 290px;
            height: 390px;
            background: rgb(255, 255, 255, 0.1);

            .material-symbols-rounded {
                font-size: 90px;
                color: $txtSub2;
            }

            .card-tit {
                font-size: 20px;
                color: $txtSub1;
            }

            .card-content {
                display: none;
            }

            &:hover {
                color: $txtDefult;

                .material-symbols-rounded {
                    color: $txtDefult;
                }

                .card-tit {
                    display: none;
                }

                .card-content {
                    padding: 0 35px;
                    text-align: center;
                    display: block;
                    font-size: 18px;
                }
            }

            &:nth-child(1) {
                background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/images/sub1/cards/card1.png);
                background-size: cover;
            }
            &:nth-child(2) {
                background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/images/sub1/cards/card2.png);
                background-size: cover;
            }
            &:nth-child(3) {
                background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/images/sub1/cards/card3.jpg);
                background-size: cover;
            }
            &:nth-child(4) {
                background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/images/sub1/cards/card4.jpg);
                background-size: cover;
            }
        }

        .hvr-shutter-out-vertical:before {
            border-radius: 10px;
            background: $secondary;
        }
    }
}

// bg-txt-----------------------------------------------------
.bg-txt {
    .inner {
        max-width: none !important;
    }

    .txt-1 {
        font-weight: 700;
        font-size: 130px;
        color: rgb(255, 255, 255, 0.5);
    }
}