// -----------------------main-visual-----------------------
.main-visual-sub2 {
  height: 80vh;
  background: linear-gradient(0deg, #000 0.1%, rgba(0, 0, 0, 0) 78.23%),
    url(../../images/sub2/main-visual/main-visual-sub2.jpg) no-repeat 50% 50% /
      cover;
  .txt-wrap {
    margin-top: 100px;
  }
}
// -----------------------performance-info-----------------------

.performance-info {
  margin-bottom: 200px;
  .inner {
    padding: 0 !important;
  }
  .tit-page {
    height: 100vh;
    padding: 6.944vw 5.556vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .txt-wrap {
      display: flex;
      align-items: baseline;
      position: relative;
    }
    .tit {
      margin-right: 12px;
    }
  }
  @media screen and (max-width: 1280px) {
    .tit-page {
      padding: 0;
    }
  }
  @media screen and (max-width: 1024px) {
    /** 타블렛 가로, 노트북 */
  }
  @media screen and (max-width: 768px) {
    .tit-page {
      padding: 150px 0;
      height: auto;
    }
  }
  .poster-wrap {
    position: relative;
    height: 100vh;
  }
  @media screen and (max-width: 768px) {
    .poster-wrap {
      height: auto;
    }
  }
  .poster {
    position: absolute;
    width: 100%;
    height: 100vh;
    // padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 6.944vw 5.556vw;
    gap: 52px;
    .txt-wrap,
    .go-to-link {
      max-width: 1280px;
      width: 1280px;
      margin: 0 auto;
    }
  }
  @media screen and (max-width: 1280px) {
    .poster {
      gap: 46px;
    }
  }
  @media screen and (max-width: 768px) {
    .poster {
      position: relative;
    }
  }
  .post-tit {
    display: block;
    height: 70px;
    width: 373px;
    @include web-tit(40px);
    margin-bottom: 36px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
  }
  @media screen and (max-width: 1280px) {
    .post-tit {
      height: 57px;
      width: 330px;
      @include web-tit(35px);
      margin-bottom: 2 0px;
    }
  }
  @media screen and (max-width: 768px) {
    .post-tit {
      height: 50px;
      width: 200px;
      @include mob-tit(30px);
      margin-bottom: 10px;
    }
  }
  .poster-4 {
    .post-tit {
      width: 456px;
    }
  }
  .post-date,
  .post-locate {
    @include web-bd(16px);
  }
  @media screen and (max-width: 768px) {
    .post-date,
    .post-locate {
      @include web-bd(14px);
    }
  }
  .poster-1 {
    background: conic-gradient(
        from -43deg at 44.72% 48.26%,
        rgba(0, 0, 0, 0.2) 0deg,
        rgba(0, 0, 0, 0) 360deg
      ),
      conic-gradient(
        from 225deg at 45.38% 54.89%,
        rgba(0, 0, 0, 0.7) 0deg,
        rgba(0, 0, 0, 0) 360deg
      ),
      url(../../images/sub2/perfermance-info/poster-1.jpg) no-repeat 50% 100% /
        cover;
  }
  .poster-2 {
    background: conic-gradient(
        from -42deg at 44.48% 50.03%,
        rgba(0, 0, 0, 0.5) 0deg,
        rgba(0, 0, 0, 0) 360deg
      ),
      conic-gradient(
        from 225deg at 45.59% 54.88%,
        rgba(0, 0, 0, 0.7) 0deg,
        rgba(0, 0, 0, 0.3) 208.10944318771362deg,
        rgba(0, 0, 0, 0) 360deg
      ),
      url(../../images/sub2/perfermance-info/poster-2.jpg) no-repeat 50% 100% /
        cover;
  }
  .poster-3 {
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.3) 0%,
        rgba(0, 0, 0, 0.3) 100%
      ),
      conic-gradient(
        from -46deg at 45.14% 53.05%,
        rgba(0, 0, 0, 0.2) 0deg,
        rgba(0, 0, 0, 0.12) 152.5084948539734deg,
        rgba(0, 0, 0, 0) 360deg
      ),
      conic-gradient(
        from 225deg at 45.38% 54.71%,
        rgba(0, 0, 0, 0.7) 0deg,
        rgba(0, 0, 0, 0) 360deg
      ),
      url(../../images/sub2/perfermance-info/poster-3.jpg) no-repeat 50% 100% /
        cover;
  }
  .poster-4 {
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.3) 0%,
        rgba(0, 0, 0, 0.3) 100%
      ),
      conic-gradient(
        from -46deg at 45.14% 53.05%,
        rgba(0, 0, 0, 0.2) 0deg,
        rgba(0, 0, 0, 0.12) 152.5084948539734deg,
        rgba(0, 0, 0, 0) 360deg
      ),
      conic-gradient(
        from 225deg at 45.38% 54.71%,
        rgba(0, 0, 0, 0.7) 0deg,
        rgba(0, 0, 0, 0) 360deg
      ),
      url(../../images/sub2/perfermance-info/poster-4.jpg) no-repeat 50% 50% /
        cover;
  }
  .poster-5 {
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.2) 0%,
        rgba(0, 0, 0, 0.2) 100%
      ),
      conic-gradient(
        from -39deg at 43.61% 53.1%,
        rgba(0, 0, 0, 0.2) 0deg,
        rgba(0, 0, 0, 0) 360deg
      ),
      conic-gradient(
        from 225deg at 45.59% 54.76%,
        rgba(0, 0, 0, 0.7) 0deg,
        rgba(0, 0, 0, 0) 360deg
      ),
      url(../../images/sub2/perfermance-info/poster-5.jpg) no-repeat 50% 100% /
        cover;
  }
  .poster-6 {
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.2) 0%,
        rgba(0, 0, 0, 0.2) 100%
      ),
      conic-gradient(
        from -39deg at 43.61% 53.1%,
        rgba(0, 0, 0, 0.2) 0deg,
        rgba(0, 0, 0, 0) 360deg
      ),
      conic-gradient(
        from 225deg at 45.59% 54.76%,
        rgba(0, 0, 0, 0.7) 0deg,
        rgba(0, 0, 0, 0) 360deg
      ),
      url(../../images/sub2/perfermance-info/poster-6.png) no-repeat 50% 100% /
        cover;
  }
  @media screen and (max-width: 1280px) {
    .arr-icon {
      width: 40px;
    }
  }
  @media screen and (max-width: 768px) {
    .arr-icon {
      width: 36px;
    }
  }
}
// ---------------         --------before-monthly-schedule-----------------------
.before-monthly-schedule {
  // margin-bottom: 120px;
  height: 100vh;
  &::before {
    display: block;
    content: "";
    width: 100%;
    height: 10px;
    background: linear-gradient(
      90deg,
      #d92b2b -27.29%,
      rgba(217, 43, 43, 0.41) 15.39%,
      rgba(0, 0, 0, 0) 100.12%
    );
    transform: rotate(180deg);
  }
  .inner {
    padding: 12.5vw 4.444vw 0 0 !important;
  }
  @media screen and (max-width: 768px) {
    .inner {
      padding: 12.5vw 0 !important;
    }
  }

  .highlight-tit {
    // font-family: "Telex", sans-serif;
    font-family: "Roboto", sans-serif;
    font-size: 90px;
    text-align: right;
    line-height: 120%;
    margin-bottom: 11px;
    color: rgb(255, 255, 255, 0.2);
    background: linear-gradient(to right, $primaryWhite, $primaryWhite)
      no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 0%;
    transition: background-size cubic-bezier(0.1, 0.5, 0.5, 1) 0.5s;
    .width-adjust {
      width: 500px;
      transform: translateX(616px);
    }
  }
  @media screen and (max-width: 1280px) {
    .highlight-tit {
      font-size: 65px;
    }
  }
  @media screen and (max-width: 768px) {
    .highlight-tit {
      font-size: 38px;
    }
  }
  .highlight-sub-tit,
  .arr-down {
    text-align: right;
  }
  .highlight-sub-tit {
    @include web-bd(20px);
  }
  @media screen and (max-width: 1280px) {
    .highlight-sub-tit {
      @include web-bd(16px);
    }
  }
  @media screen and (max-width: 768px) {
    .highlight-sub-tit {
      @include mob-bd(14px);
    }
  }
  .arr-down {
    height: 94px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 50px;
  }
  @media screen and (max-width: 1280px) {
    .arr-down {
      margin-top: 15px;
    }
  }
  @media screen and (max-width: 768px) {
    .arr-down {
      margin-top: 10px;
    }
  }
  .arr-down-icon {
    transform: rotate(90deg) scale(1.5);
    animation: arrDown 0.5s infinite ease alternate;
  }
  @keyframes arrDown {
    0% {
      transform: rotate(90deg) scale(1.8) translateX(0);
    }
    100% {
      transform: rotate(90deg) scale(1.8) translateX(10px);
    }
  }
  @media screen and (max-width: 1280px) {
    .arr-down-icon {
      height: 10px;
    }
  }
  @media screen and (max-width: 768px) {
    .arr-down-icon {
      height: 7px;
    }
  }
}
@media screen and (max-width: 768px) {
  .before-monthly-schedule {
    height: auto;
  }
}
// -----------------------monthly-schedule-----------------------
.monthly-schedule {
  // height: 100vh;
  .txt-wrap {
    display: flex;
    align-items: baseline;
    position: relative;
  }
  .tit {
    margin-right: 12px;
  }
  .fc-button-primary {
    background-color: $secondary;
    border-color: $secondary;
  }
  .calendar {
    margin-top: 50px;
  }
  .fc-theme-standard th {
    border: none;
  }
  .fc-theme-standard td {
    border-right: none;
    border-bottom: none;
    border-color: $txtSub2;
  }
  .fc-theme-standard .fc-scrollgrid {
    border: none;
  }
  .fc-col-header {
    height: 44px;
    background: rgb(217, 43, 43);
    line-height: 44px;
  }
  .fc-daygrid-day-top {
    flex-direction: row;
  }
  .fc-col-header-cell-cushion,
  .fc-daygrid-day-number {
    font-weight: 400;
    &:hover {
      color: white;
    }
  }
  @media screen and (max-width: 1280px) {
    .fc-toolbar-title {
      font-size: 24px;
    }
    .fc-daygrid-day-number,
    .fc-event-title {
      font-size: 12px;
    }
    .fc-button {
      width: 35px;
      height: 35px;
      padding: 0;
    }
  }
}
@media screen and (max-width: 1280px) {
  .monthly-schedule {
    margin: 30px 0;
  }
}
@media screen and (max-width: 768px) {
  .monthly-schedule {
    margin: 120px 0 100px;
  }
}
// -----------------------chronological-list-----------------------
.chronological-list {
  .txt-wrap {
    display: flex;
    align-items: baseline;
    position: relative;
  }
  @media screen and (max-width: 768px) {
    .txt-wrap {
      flex-direction: column;
    }
  }
  .tit {
    margin-right: 12px;
  }
  .scroll-wrap {
    // height: 100vh;
    display: flex;
    justify-content: space-between;
    padding: 110px 112px 0 0;
    position: relative;
  }
  @media screen and (max-width: 768px) {
    .scroll-wrap {
      flex-direction: column;
      padding: 50px 0 0;
      // height: 100vh;
    }
  }
  .scroll-tit {
    @include web-tit(90px);
    margin-top: 190px;
  }
  @media screen and (max-width: 1280px) {
    .scroll-tit {
      @include web-tit(70px);
    }
  }
  @media screen and (max-width: 768px) {
    .scroll-tit {
      display: none;
    }
  }
  .scroll-tit-mob {
    display: none;
  }
  @media screen and (max-width: 768px) {
    .scroll-tit-mob {
      display: block;
      @include mob-tit(30px);
      // color: blueviolet;
      // background: blueviolet;
      margin-top: 0;
      margin-top: 0;
      height: 50px;
      width: 210px;
      line-height: 50px;
      border-radius: 10px;
      padding-left: 10px;
    }
  }
  .scroll-contents-box {
    position: absolute;
    right: 0;
    height: 1350px;
    width: 528px;
  }
  @media screen and (max-width: 1280px) {
    .scroll-contents-box {
      width: 419px;
    }
  }
  @media screen and (max-width: 768px) {
    .scroll-contents-box {
      position: relative;
      width: 308px;
      height: auto;
      left: 0;
    }
  }
  .content {
    padding: 50px 0;
    border-bottom: solid 1px $txtSub2;
    position: relative;
  }
  // @media screen and (max-width: 1280px) {
  //   .content {
  //   }
  // }
  .content-4,
  .content-8 {
    border-bottom: none;
  }
  .cont-txt-wrap {
    width: 100%;
  }
  .cont-tit {
    display: block;
    @include web-tit(32px);
    margin-bottom: 20px;
  }
  @media screen and (max-width: 768px) {
    .cont-tit {
      @include mob-tit(28px);
      margin-bottom: 20px;
    }
  }

  .txt-list {
    display: flex;
    gap: 72px;
  }
  @media screen and (max-width: 1280px) {
    .txt-list {
      margin-bottom: 8px;
    }
  }
  @media screen and (max-width: 768px) {
    .txt-list {
      gap: 20px;
    }
  }
  .txt-list-month {
    display: block;
    width: 35px;
    @include web-bd(28px);
    color: $txtSub1;
  }
  @media screen and (max-width: 1280px) {
    .txt-list-month {
      width: 32px;
      @include web-tit(24px);
      color: $txtSub1;
    }
  }
  @media screen and (max-width: 768px) {
    .txt-list-month {
      width: 32px;
      @include mob-tit(14px);
      color: $txtSub1;
    }
  }
  .txt-list-cont {
    @include web-bd(18px);
    color: $txtSub1;
  }
  @media screen and (max-width: 1280px) {
    .txt-list-cont {
      @include web-bd(16px);
      color: $txtSub1;
    }
  }
  @media screen and (max-width: 768px) {
    .txt-list-cont {
      @include mob-bd(14px);
      color: $txtSub1;
    }
  }
  .more-info {
    display: block;
    position: absolute;
    top: 50px;
    right: 0;
    height: 59px;
    width: 47px;

    .more-icon {
      position: absolute;
      width: 100%;
    }
  }
  @media screen and (max-width: 1280px) {
    .more-info {
      width: 40px;
      // .more-icon {

      // }
    }
  }
  @media screen and (max-width: 1280px) {
    .more-info {
      width: 30px;
    }
  }
}
@media screen and (max-width: 768px) {
  .chronological-list {
    margin: 100px 0;
  }
}
// -----------------------more-chronological-list-----------------------
.more-chronological-list {
  margin-bottom: 80px;
  .txt-wrap {
    &:after {
      display: block;
      content: "";
      width: 50%;
      height: 1px;
      background: linear-gradient(to right, $primaryWhite, $primary);
    }
    @media screen and (max-width: 768px) {
      &:after {
        width: 90%;
      }
    }
  }
  .tit {
    // text-align: center;
    margin-bottom: 60px;
  }
  @media screen and (max-width: 768px) {
    .tit {
      line-height: 150% !important;
      margin-bottom: 30px !important;
    }
  }
  .date-btn-wrap {
    text-align: center;
  }
  .date-btn {
    width: 149px;
    height: 59px;
    margin-left: 12px;
    // padding: 124px 63px;
    color: $primaryWhite;
    border-radius: 59px;
    border: 1px solid rgba(255, 255, 255, 0.8);
    &.active {
      background: $secondary;
      border-color: $secondary;
    }
  }
  .contents-wrap {
    padding: 30px 80px;
  }
  .content {
    display: flex;
    margin-bottom: 20px;
  }
  .cont-date {
    @include web-bd(20px);
    margin-right: 30px;
    line-height: 48px;
  }
  .cont-txt {
    @include web-bd(16px);
    color: $txtSub1;
  }
  .cont-right,
  .cont-left {
    display: flex;
    gap: 30px;
  }
  .swiper-more-chronological-list {
    overflow: visible;
    padding-top: 20px;
    position: relative;
    &:before {
      content: "";
      display: block;
      width: 200px px;
      height: 483px;
      position: absolute;
      left: -200px;
      top: 0;
      background: $primary;
      z-index: 1000;
    }
  }
  .swiper-button-next,
  .swiper-button-prev {
    width: 50px;
    height: 50px;
  }
  @media screen and (max-width: 1280px) {
    .swiper-button-next,
    .swiper-button-prev {
      width: 40px;
      height: 40px;
    }
  }
  @media screen and (max-width: 768px) {
    .swiper-button-next,
    .swiper-button-prev {
      width: 30px;
      height: 30px;
    }
  }
  .swiper-button-prev {
    transform: rotate(180deg);
    top: -50px;
    left: 85%;
  }
  @media screen and (max-width: 768px) {
    .swiper-button-prev {
      top: -40px;
      left: 75%;
    }
  }
  .swiper-button-next {
    top: -50px;
  }
  @media screen and (max-width: 768px) {
    .swiper-button-next {
      top: -40px;
    }
  }
  .swiper-button-next:after,
  .swiper-button-prev:after {
    display: none;
  }
  path {
    stroke-width: 2px;
  }
  .list-sub-tit {
    @include web-tit(40px);
    display: block;
    margin-bottom: 35px;
  }
  @media screen and (max-width: 1280px) {
    .list-sub-tit {
      @include web-tit(32px);
    }
  }
  @media screen and (max-width: 768px) {
    .list-sub-tit {
      @include web-tit(30px);
    }
  }
  .cont {
    color: $txtSub1;
    margin-bottom: 12px;
  }
  @media screen and (max-width: 1280px) {
    .cont {
      margin-bottom: 8px;
    }
  }
}
.more-chronological-list-file-info {
  background: blueviolet;
  .txt-wrap {
    margin-bottom: 40px;
  }
  .tit-small {
    @include web-tit(40px);
  }
  @media screen and (max-width: 1280px) {
    .tit-small {
      @include web-tit(30px);
    }
  }
  @media screen and (max-width: 768px) {
    .tit-small {
      @include mob-tit(24px);
    }
  }
  .file-info {
    color: $primaryWhite;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    display: flex;
    gap: 90px;
  }
  @media screen and (max-width: 768px) {
    .file-info {
      @include mob-bd(16px);
    }
  }
}
@media screen and (max-width: 768px) {
  .more-chronological-list-file-info {
    margin: 100px 0;
  }
}
// -----------------------common-----------------------
.behind-tit {
  font-family: "Source Sans 3", sans-serif;
  @include web-tit(140px);
  letter-spacing: -7px;
  position: absolute;
  top: -100px;
  left: 10px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15) 22.61%,
    rgba(255, 255, 255, 0) 71.86%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  z-index: -1;
}
@media screen and (max-width: 1280px) {
  .behind-tit {
    width: 2000px;
    top: -70px;
    @include web-tit(110px);
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.15) 22.61%,
      rgba(255, 255, 255, 0) 71.86%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
@media screen and (max-width: 768px) {
  .behind-tit {
    top: -30px;
    @include web-tit(45px);
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.15) 22.61%,
      rgba(255, 255, 255, 0) 71.86%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
