@import "variables", "mixins", "fonts", "reset";
// @import 뒤로 갈수록 우선순위가 높아짐 >> 위의 import에서는 reset의 우선순위가 가장 높음
// 하지만 content 밑에 @import를 넣어주면 밑에 있는 import의 우선순위가 더 높아짐
// reset을 그대로 적용하고 싶지 않을 수도 있으므로 각 페이지마다 scss를 만들어서 우선순위를 높여주면 됨 >> content 밑에 import 해줌

// btn style

// card style

// list style

// layout
.wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: none;
  margin: 0;
  overflow: hidden;

  // margin-left: 5.556vw;
}
#header {
  position: fixed;
  top: 0;
  left: 0;
  height: $hd-height;
  width: 100%;
  display: flex;
  align-items: center;
  background: rgba(0, 0, 0, 0);
  transition: all 0.3s;
  z-index: 1000;
  .wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    // border-top: 1px solid $primary;
  }
  .inner {
    max-width: 1280px;
    width: 1280px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
  }
  @media screen and (max-width: 1280px) {
    .inner {
      max-width: 1024px;
      // min-width: 328px;
      // max-width: 768px;
      margin: 0 5.556vw;
      justify-content: space-between;
    }
  }
  #logo {
    background: url(../../images/comm/logo-white.png) no-repeat 0 0 / 100%;
    width: 135px;
    height: 45px;
  }
  @media screen and (max-width: 1280px) {
    #logo {
      width: 120px;
      height: 41px;
    }
  }
  @media screen and (max-width: 728px) {
    #logo {
      width: 100px;
      height: 31px;
    }
  }
  .logo-inner {
    display: block;
    width: 100%;
    height: 100%;
  }

  .depth {
    height: 100%;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
  }
  @media screen and (max-width: 1280px) {
    .depth {
      display: none;
    }
  }
  .dep-1-box {
    height: 100%;
    display: flex;
    gap: 40px;
    align-items: center;
  }
  .dep-1-li {
    height: 100%;
    display: flex;
    align-items: center;

    &.active {
      .dep-1-el {
        // color: $point;
        color: #c587ff;
      }
      .dep-2-box {
        opacity: 1;
        visibility: visible;
        height: auto;
        // transition: all 0.6s ease;
        &:before {
          transform: scaleX(100%);
        }
        // border-top: 1px solid $txtSub1;
      }
    }
  }
  .dep-1-el {
    display: block;
    height: 100%;
    display: flex;
    align-items: center;
    @include web-bd(18px);
    transition: color 0.3s;
  }
  @media screen and (max-width: 360px) {
    .dep-1-el {
      @include mob-bd(16px);
    }
  }
  .dep-2-box {
    opacity: 0;
    visibility: hidden;
    height: 0px;
    display: flex;
    justify-content: center;
    gap: 28px;
    position: absolute;
    left: 0;
    right: 0;
    top: 90px;
    transition: all 0.5s ease;
    &:before {
      position: absolute;
      content: "";
      width: 50%;
      height: 1px;
      background: radial-gradient($primaryWhite, $primary);
      transform: scaleX(0%);
      transition: transform 0.5s ease 0.3s;
    }
    // background: #888;
    // border-top: 1px solid $primary;50% 50%
  }
  .dep-2-el {
    @include web-bd(16px);
    color: $txtSub1;
    justify-content: center;
    gap: 20px;
    display: block;
    padding: 13px 0;
    &:hover {
      // color: $point;
      color: #c587ff;
    }
  }
  .m-nav {
    // display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 60px;
    bottom: 0;
    left: 100%;
    opacity: 0;
    padding-top: 40px;
    background: $primary;
    z-index: 1000;
    overflow-y: auto;
    transition: all 0.5s;
    &.active {
      opacity: 1;
      left: 0;
      // height: 100%;
      #header {
        background: $primary;
      }
    }
  }
  .m-dep-2-box {
    height: 0;
    overflow: hidden;
    visibility: hidden;
    transition: all 0.8s ease;
    &:before {
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      transform: scaleX(0%);
      transform-origin: left;
      background: linear-gradient(to right, $txtSub2, $primary);
      transition: all 0.5s;
    }
  }
  .m-dep-1-li {
    padding: 10px 9.722vw;
    &.active {
      .dep-1-el {
        color: #c587ff;
      }
      .m-dep-2-box {
        height: auto;
        opacity: 1;
        visibility: visible;
        padding: 20px 0;
        &::before {
          transform: scaleX(100%);
        }
      }
      .arr-icon {
        transform: rotate(180deg);
      }
    }
    .dep-1-el {
      justify-content: space-between;
      width: 100%;
    }
  }
  .m-select {
    display: flex;
    // justify-content: center;
    margin: 50px 9.722vw;
    gap: 10px;
  }
  @media screen and (max-width: 768px) {
    .m-select {
      margin: 40px 9.722vw;
    }
  }
  .select-el {
    width: 130px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 10px;
    font-size: 16px;
    background: rgba(255, 255, 255, 0.1);
    &:hover {
      background: #8a2be2;
    }
    .login,
    .request {
      color: $primaryWhite;
      display: block;
      width: 100%;
      height: 100%;
    }
  }
  @media screen and (max-width: 768px) {
    .select-el {
      width: 100px;
      height: 40px;
      font-size: 14px;
    }
  }
  .m-language {
    text-align: center;
    margin-top: 40px;
    .lang {
      font-size: 14px;
      &:hover {
        color: #c587ff;
      }
    }
    .ko {
      &:after {
        content: "";
        display: inline-block;
        width: 1px;
        height: 15px;
        background: $primaryWhite;
        margin: -3px 10px;
      }
    }
    .en {
      margin-left: -5px;
    }
  }
  .copyright {
    text-align: center;
    margin-top: 12px;
    font-size: 12px;
    color: $txtSub2;
  }
  @media screen and (max-width: 1280px) {
    .m-nav {
      display: block;
    }
    .arr-icon {
      font-size: 30px;
    }
  }
  @media screen and (max-width: 360px) {
    .arr-icon {
      font-size: 24px;
    }
  }
  .icon-box {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 28px;
  }
  .icon-el {
    height: 100%;
    display: flex;
    align-items: center;
  }
  @media screen and (max-width: 1280px) {
    .icon-el {
      display: none;
    }
  }
  .icon-inner {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
    transition: all 0.3s;
    &:hover {
      color: #c587ff;
    }
    &.active {
      .lang-el {
        height: 45px;
        visibility: visible;
        opacity: 1;
        padding: 10px 35px;
        border-bottom: 1px solid rgb(0, 0, 0, 0.3);
      }
      .ko {
        border-bottom: 1px solid rgb(0, 0, 0, 0.3);
      }
    }
  }
  .hd-icon {
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 30px;
  }
  .select-lang {
    position: absolute;
    top: 80px;
    left: 0;
    transform: translateX(calc(-83px / 2));
  }
  .lang-el {
    display: block;
    width: 113px;
    height: 0;
    visibility: hidden;
    opacity: 0;
    padding: 0;
    // height: 45px;
    // padding: 10px 35px;
    text-align: center;
    color: $primary;
    background: $primaryWhite;
    transition: all 0.3s;
    &:hover {
      color: $primaryWhite;
      background: blueviolet;
    }
  }
  .ko {
    border-radius: 10px 10px 0 0;
    // border-bottom: 1px solid rgb(0, 0, 0, 0.3);
  }
  .en {
    border-radius: 0 0 10px 10px;
  }
  .m-menu {
    display: none;
  }
  @media screen and (max-width: 1280px) {
    .m-menu {
      display: block;
      &.active {
        .line:first-child {
          transform: translateY(7px) rotate(45deg);
          transform-origin: center;
        }
        .line:nth-child(2) {
          display: none;
        }
        .line:nth-child(3) {
          transform: translateY(-1px) rotate(-45deg);
          transform-origin: center;
        }
      }
      .line {
        width: 30px;
        height: 2px;
        margin-bottom: 5px;
        border-radius: 2px;
        background: $primaryWhite;
        transition: all 0.3s;
      }
    }
  }
  .goto-top {
    width: 45px;
    height: 45px;
    // background: rgba(255, 255, 255, 0.1);
    // background: rgb(203, 172, 223, 1);
    background: rgb(217, 43, 43, 0.1);
    backdrop-filter: blur(2px);
    border-radius: 45px;
    text-align: center;
    line-height: 45px;
    position: fixed;
    position: fixed;
    top: 900px;
    right: 25px;
    &:hover {
      background: $secondary;
    }
  }
  .goto-top-icon-box {
    display: block;
    width: 100%;
    height: 100%;
  }
  .goto-top-icon {
    color: $primaryWhite;
    font-size: 30px;
    display: block;
    width: 100%;
    height: 100%;
    line-height: 45px;
    &:hover {
      color: $primaryWhite;
    }
  }
}
@media screen and (max-width: 1280px) {
  #header {
    height: 60px;
  }
}
.section {
  height: 500px;
  background: #222;
}

#main {
  flex-grow: 1;
  // min-height: cal(100vh - $hd-height - $ft-height);
  // main에 min-height를 줌으로써 항상 풋터가 바닥에 붙어있게 설정
  .inner {
    height: 100%;
    padding: 6.944vw 0;
    max-width: 1280px;
    margin: 0 auto;
  }
  @media screen and (max-width: 1280px) {
    .inner {
      max-width: 768px;
    }
  }
  @media screen and (max-width: 768px) {
    .inner {
      max-width: 328px;
    }
  }
  .tit {
    @include web-tit;
    line-height: 1.5;
  }
  .sub-tit {
    @include web-tit(28px);
  }
  .content,
  .side-bar-li {
    @include web-bd(18px);
  }
  .main-visual {
    .inner {
      @include flexCenter;
      height: calc(100% - 70px);
      // padding: 0;
      .txt-wrap {
        @include flexCenter;
        flex-direction: column;
        gap: 12px;
        .sub-tit {
          @include web-bd(20px);
        }
      }
    }
    .side-bar-wrap {
      height: 70px;
      // padding-left: 80px;
      // .side-bar {
      //   @include flexCenter(flex-start);
      // }
      .inner {
        height: 100%;
        display: flex;
        justify-content: flex-start;
        padding: 0;
      }
      .side-bar {
        @include flexCenter(flex-start);
      }
      .side-bar-li {
        display: block;
        width: 124px;
        height: 43px;
        line-height: 43px;
        text-align: center;
        transition: all 0.3s;
        &.active {
          background: $secondary;
          border-radius: 43px;
        }
      }
    }
  }
}

#footer {
  height: $ft-height;
}
@media screen and (max-width: 1280px) {
  .inner {
    padding: 0;
  }
}

// // header (detail)
// #logo {
//   position: relative;
//   z-index: 1100;
// }
// #header {
//   .inner {
//     // @include flexSpaceBetween;
//     // @include flex(space-between);
//     height: $hd-height;
//     background-color: $gray-500;
//   }
// }
// .col-right {
//   display: flex;
//   justify-content: space-between;
//   flex-direction: row-reverse;
// }

// .util {
//   ul {
//     // @include flexSpaceBetween;
//     height: 100%;
//   }
//   .link-g {
//     // @include flexSpaceBetween;
//     height: $hd-height;
//     &::before {
//       font-family: "Font Awesome 6 Free";
//       font-weight: 900;
//       // @include flex;
//       // @include icon;
//     }
//   }
//   .link-lang {
//     &::before {
//       content: "\f0ac";
//     }
//   }
//   .link-search {
//     &::before {
//       content: "\f002";
//     }
//   }
//   .link-mypage {
//     &::before {
//       content: "\f007";
//     }
//   }
// }

// .gnb-wrap {
//   .inp-burger {
//     // input이 체크되었을 때
//     &:checked {
//       // + : 인접형제 선택자(바로 뒤에 있는 요소)
//       & + .label-burger {
//         // 아래는 input이 체크되었을 때 형제선택자의 디자인
//         .bar {
//           &:nth-child(1) {
//             transform: translateY(3px) rotate(45deg);
//           }
//           &:nth-child(2) {
//             display: none;
//           }
//           &:nth-child(3) {
//             transform: translateY(-3px) rotate(-45deg);
//           }
//         }
//       }

//       // gnb가 보이게
//       // ~ : 일반형제 선택자
//       & ~ #gnb {
//         left: 0;
//       }
//     }
//   }
// }
// // 아래는 input이 체크되지 않았을 때의 디자인
// .label-burger {
//   z-index: 1100;
//   position: relative;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   gap: 3px;
//   cursor: pointer;
//   .bar {
//     width: 20px;
//     height: 2px;
//     background-color: $gray-300;
//     border-radius: 2px;
//     transition: all 0.3s;
//   }
// }
// // input 체크 박스 없애기
// .inp-burger {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 0;
//   height: 0;
//   bottom: none;
//   opacity: 0;
//   visibility: hidden;
// }

// #gnb {
//   // display: none;
//   display: flex;
//   justify-content: center;
//   position: fixed;
//   top: 0;
//   left: 100%;
//   height: 100vh;
//   width: 100%;
//   background-color: #fff;
//   z-index: 1000;
//   padding-top: 100px;
//   transition: left 0.2s;
// }

// .util {
//   display: none;
// }
// footer

@import "main", "sub1", "sub2";

// 밑에 @import를 적어주면 우선순위가 위 import 보다 높아짐

// ----------------------참고----------------------
// scss파일 명 앞에 언더바(_)를 적어주면 css로 컴파일되지 않음
// 특히 import할 파일에 대해
// import할 때는 파일명에 언더바 적어주지 않기
